.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.pdf
*.log
*.texLecture1-cache
Lecture1-figure
Lecture1-cache
Lecture1.html
Lecture1.md
clustered_crispri.png
ordered_crispri.png
Lab_Assignment_I.html
Lab_Assignment_I.log
Lab_Assignment_I.nb.html
